body {
    margin: 0;
    padding: 0;
    border: 0;
}

a, a:visited, a:active, a:focus, a:hover {
    text-decoration: none;
    color: black;
    font-size: .9rem;
}

a:hover {
    text-decoration: underline;
}

nav {
    position:relative;
    top: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.wrapper1, .wrapper2   {
    position: relative;
    display: flex;
    margin: .3rem .3rem;
    align-items: center;
}

.navlink1 {
    padding: .3rem .5rem;
    font-size: 1.5rem;
}

.navlink2 {
    padding: 0 .5rem;
    font-size: 1.5rem;
}

#button {
    height:  1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display:block;
    text-align: center;
    margin: .5rem 0 0;
}


#button:hover, #button:active {
    box-shadow: 0 0 1rem rgba(0,0,0,.15);
    text-decoration: none;
    background: gray;
}


#profile-pic {
    border-radius: 50%;
    margin: .5rem 0 0 ;
    
}

#profile-pic:hover {
    box-shadow:  0 0 1rem rgba(0,0,0,.15);
}

#image {
    display: block;
    height: auto;
    width: 20rem;
    margin: -3rem auto 0;
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    margin: -2rem 0 0 0;
    width: 35rem;
    max-width: 90%;
    margin: auto;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    box-shadow: 0 1px 6px 0 rgba(183, 199, 247, 0.7);
}

#searchbar {
    height: 2.5rem;
    width: 85%;
    border: none;
    font-size: 1.2rem;
    outline: none;
    padding:  0 0 0 .5rem;
}

#spyglass {
    height: 1.6rem;
    width: 1.2rem;
    align-self: center;
    padding: 0 0 0 1rem;
}


#mic {
    height: 2rem;
    width: 4rem;
    padding: 0;
    margin: 0;
    align-self: center;
    padding: 0 .5rem 0 0;
}

#search-buttons {
    display: flex;
    justify-content: center;
}

#google-search-button {
    width: 10rem;
    height: 2.5rem;
    margin: 2rem .5rem 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #f8f9fa;
    font-size: 1rem;
    font-family: Roboto,arial,sans-serif;
    color:#3c4043;
    outline-color: blue;
}

#lucky-button {
    width: 10rem;
    height: 2.5rem;
    margin: 2rem .5rem 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #f8f9fa;
    font-size: 1rem;
    font-family: Roboto,arial,sans-serif;
    color:#3c4043;
    outline-color: blue;
}

#google-search-button:hover, #lucky-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
}

footer {
    position: absolute;
    display: flex;
    background: #f2f2f2;
    justify-content: space-between;
    bottom: 0;
    width: 100vw;
    flex-wrap: wrap;
}

.foot-wrap1, .foot-wrap2 {
    display: flex;
    margin: auto;
}


.foot-links1, .foot-links2 {
    margin: 1.5rem;
}

.foot-links1 > a, .foot-links2 > a {
    color: grey;
}

